
html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Inter", sans-serif;
}

header{
    padding:30px 20px;
    background-color: black;
}
header,header>div,.login{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    gap:10px
}
.login img{
    width: 25px;
    filter: invert(100%)
}


.link{
    text-decoration: none;
    color:white;

}
.menu-logo{
    filter: invert(100%)

}
/* movies-menu */
.menu-bar {
  display: flex;
  list-style: none;
  padding: 10px 10px;
  margin: 0;
  justify-content: center;
}

.menu-bar li {
  margin-right: 10px;
  border: 2px solid rgba(255, 255, 255, 0.568);
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s, box-shadow 0.3s, border 0.3s;

}
.menu-bar li:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
}

.menu-bar li:last-child {
  margin-right: 0;
}

.menu-bar a {
  text-decoration: none;
  color: white;
}

.menu-bar a.active {
  font-weight: bold;
  /* background-color: red;; */
  color:red;
}

/* footer  */
/* Footer container */
footer {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    margin-top: auto; /* Push the footer to the bottom */
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  
  /* Footer disclaimer */
  .footer-disclaimer {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
  }
  
  .footer-disclaimer p {
    margin: 5px 0;
  }

  .movie-tile img{
    height: 400px;
    width:auto;
    border-radius: 10px 10px 0  0px;
  }
  .movie-tile {
    transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
    /* height: 430px; */
    border-radius:10px;
    background-color: rgba(27, 28, 29, 0.788);
  }
  
  .movie-tile:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid white;
  }
.movies-container{
    padding: 40px 20px;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    background-color: rgb(40, 41, 43);
    /* background-color: white; */
    height: 500px;  
}
.movie-info-container{
  width: 100%;
  display: flex;
  justify-content: right;
}
.movie-info{
  border: 2px;
  border-radius: 20px;
  background-color: black;
  padding: 2px 5px;
  width: fit-content;
  display: flex;
  gap: 20px;
  font-size: 15px;
}

.movie-info img{
  height:12px;
}
.movie-title {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #e0dada;
  text-align: center;
  text-transform: uppercase;
  margin: 5px;
}